.form-actions {
	padding: 0 !important;
	border: none !important;
	background: none !important;
}
.comment-form input[type=text]{
height: 35px;
margin-right: 3.5%;
width: 50%;
margin-bottom: 30px;
}
.comment-form input[type=submit]{
margin-right: 3.5%;
}
#user-login input[type=text], #user-login input[type=password], #user-register-form input[type=text] {
height: 35px;
}
.comment-form textarea {width: 100%;}
@media (max-width: 500px) {
	.comment-form input[type=text]{
	width: 100%;
	}
}